# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Output / build
# build/   <-- agar backend me copy kar ke serve kar rahe ho, is line ko comment ya hata do
# dist/    <-- ye bhi hata do

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

